<ul class="art-menu">
{%- for page in site.pages -%}
    {%- include pic-path.html -%}
    {%- assign pagedir = page.dir | remove_first: "/" | split: "/" -%}
    {%- if pagedir.first == "art" and pagedir.size > 1 -%}
    <li class="art-menu-item">
        <a class="art-menu-item-mask" href="{{ page.url }}">
            <span class="art-menu-item-text">
                {{ page.title }}
            </span>
        </a>
        <div class="art-menu-item-img">
            <img src="{{ artthumbs | sample }}">
        </div>
    </li>
    {% endif %}
{%- endfor -%}
</ul>
