{%- assign releases = include.releases %}
{%- assign print_author = include.print_author %}
<div class="music-project-release-list">
    <h2>{{ include.title }}</h2>

    {% for year_group in releases %}
        <div class="music-project-release-by_year"
             id="{{ year_group.name }}">
            <h3 class="music-project-release-year"
                id="{{ year_group.name }}">{{ year_group.name }}</h3>
            {%- for release in year_group.items -%}
                {% include music-project-release-info.html release=release print_author=print_author %}
            {%- endfor -%}
        </div>
    {%- endfor -%}
</div>
