{% comment %}
    the purpose of this file is to provide arrays to use for art browsing
{% endcomment %}

{%- capture arts -%}
{%- for file in site.static_files -%}
    {%- if file.art and file.path contains page.title and file.thumbnail != true -%}
        {{ file.path }}
    {% endif %}
{%- endfor -%}
{%- endcapture -%}
{% assign artpics = arts | split: " " %}

{%- capture arts_thumbs -%}
{%- for art in artpics -%}
    {%- assign art_ext = art | split: "." | last -%}
    {%- assign art_basepath = art | split: "." | first -%}
    {%- assign art_name = art_basepath | split: "/" | last -%}
    {%- assign art_thumbpath = art_basepath \
        | remove: art_name | append: "thumbs/" \
        | append: art_name | append: "_thumb." | append: art_ext \
        | append: " " -%}
    {{ art_thumbpath }}
{%- endfor -%}
{%- endcapture -%}
{% assign artthumbs = arts_thumbs | split: " " %}
