$color-main-bg: #f0f0f0;
$color-dark-bg: #070707;
$color-main-blue: #397eaf;
$color-dark-blue: #2e4054;
$color-main-grey: #e1e1e1;
$color-main-grey-dark: #c4c4c4;
$color-dark-grey: #1f1f1f;
$color-darker-grey: #101010;
$color-link-idle: #707070;
$color-link-hover: #999999;
$color-nav-current: #333333;
$border-main: 5px solid;
$border-nav: $border-main $color-main-grey;
$border-dark: $border-main $color-dark-grey;
$font-title: Montserrat, sans-serif;
$body-font: Lato, sans-serif;
$code-font: Fira Code, monospace;

html {
	background: $color-main-bg;
}

body {
	max-width: 835px;
	min-width: 364px;
	margin: 20px auto 0 auto;
	padding: 8px;
	color: $color-dark-bg;
	font: 100% $body-font;
}
a {
	color: $color-link-idle;
	text-decoration: none;
}
a:hover {
	color: $color-link-hover;
}

.current {
	color: $color-nav-current;
}

nav {
	display: flex;
	font: 400 1.5em $font-title;
	letter-spacing: -1.2px;

	ul {
		display: inline-flex;
		width: 430px;
		height: 32px;
		margin: 0;
		padding: 50px 30px 0 0;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
		border-bottom: $border-nav;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
    color: $color-main-blue;
	font-family: $font-title;
    font-weight: 500;
}

.post {
    padding: 1em;
    margin: 1em 0;
    //background: $color-main-grey;
    border-radius: 25px 25px 25px 0px;
    border: 1px solid $color-main-grey;
    word-wrap: break-word;
    small p {
        display: inline;
    }
    p {
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            border-radius: 1em;
        }
    }
}

.post-page .post-header {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        li {
            margin-right: 0.5em;
            a {
                background: $color-main-grey;
                border-radius: 5px;
                padding: 2px;
            }
        }
    }
}


blockquote {
    margin: 0.5em;
    padding: 1em;
    background: $color-main-grey-dark;
    border-width: 2px 2px 2px 5px;
    border-color: $color-main-grey;
    border-style: solid;
    border-radius: 0.5em;
}

code {
    font-family: $code-font;
    font-size: 0.9em;
    &.language-plaintext.highlighter-rouge {
        background: $color-main-grey;
        padding: 2px;
        border-radius: 5px;
    }
}
div.language-plaintext.highlighter-rouge {
    overflow-x: auto;
    background: $color-main-grey;
    padding-left: 0.5em;
    border-radius: 5px;
}

audio {
    width: 100%;
    border-radius: 25px;
}

footer {
    padding-top: 0.5em;
	border-top: $border-nav;
	text-align: center;
	font: 75% $body-font;
	p {
		margin: 0;
	}
}

@media only screen and (max-width: 700px) {
	nav {
		margin-bottom: 5vh;
		ul {
			width: 100%;
			padding: 0;
			padding-top: 30px;
			position: relative;
			top: 5vh;
		}
		img {
			position: absolute;
			top: 0;
		}
	}
}

@media (prefers-color-scheme: dark) {
    html {
        background: $color-dark-bg;
    }
    body {
        color: $color-main-bg;
    }
    nav {
        ul {
            border-bottom: $border-dark;
        }
    }
    code.language-plaintext {
        background: $color-darker-grey;
    }
    div.language-plaintext.highlighter-rouge {
        background: $color-darker-grey;
    }
    .post {
        border: 1px solid $color-dark-grey;
    }
    .post-page .post-header ul li a {
        background: $color-dark-grey;
    }

    footer {
        border-top: $border-dark;
    }
    blockquote {
        background: $color-nav-current;
        border-color: $color-dark-grey;
    }
}
