---
layout: default
---

<div class="about">
    <div class="about-sidebar">
        <img id="avatar" alt="aaoth-photo"
        width="128" height="128" src="/assets/img/aaoth-photo.jpeg">
        <div class="about-links">
            <p>other links:</p>
            <ul>
                {%- assign sorted_links = site.data.links | sort: "type" -%}
                {% for link in sorted_links %}
                <li>
                    <a href="{{ link.link }}"
                    {% if link.rel %}rel="{{ link.rel }}"{% endif %}>
                        <img class= "link-icon" width="32" height="32"
                             alt="" src="/assets/img/{{ link.type }}-icon.png">
                        <div class="link-text">{{ link.name }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="about-info">
        {{ content }}
    </div>
</div>

