---
layout: default
---

{% include title-with-backlink.html title=page.title backlink="/art/" %}

{{ content }}

{%- include pic-path.liquid -%}
{% comment %}
    upper include provides `artpics` array 
    and `artthumbs` array, which are used later
{% endcomment %}

<div class="art">
{%- assign pics_n = artpics.size -%}
{%- assign range = (0..pics_n) -%}
{%- for i in range -%}
    {%- assign imgname = artpics[i] | split: "/" | last | split: "." | first -%}
    <div class="art-img">
        <a href="{{ artpics[i] }}" target="_blank">
            <img src="{{ artthumbs[i] }}" alt="{{ imgname }}">
        </a>
    </div>
{% endfor %}
</div>
