---
layout: default
---

<!-- TODO: add physical release links-->
<!-- TODO: add sound for albums that aren't available on bandcamp -->
<!-- TODO: maybe add search by tag for music projects -->

<div class="music-project">

    <div class="music-project-titlebar">
        {% include title-with-backlink.html title=page.title backlink="/music/" %}
    </div>

    <div class="music-project-sidebar">
        <a href="/art/logos/{{ page.url | split: "/" | last }}-logo.png">
            <img id="logo"
                 src="/art/logos/thumbs/{{ page.url | split: "/" | last }}-logo_thumb.png"
                 alt="{{ page.title }} logo">
        </a>
        <p>{{ page.start_date | date_to_string }}&ndash;
            {%- if page.end_date -%}
                {{ page.end_date | date_to_string }}
            {%- else -%}
                &hellip;
            {%- endif -%}
            {%- if page.status -%}
                &ensp;({{ page.status }})
            {%- endif -%}
        </p>
        <p>tags: {{ page.tags | join: ", " }}</p>
    </div>

    <div class="music-project-info">

        {{ page.content | markdownify }}

    </div>

    {%- assign releases = site.music_releases |
    where: "author", page.title |
    group_by_exp: "item", "item.date | date: '%Y'" -%}
    {%- assign releases.size = releases | size %}
    {% unless releases.size == 0 %}
        <div class="music-project-release-list">
            <h2>releases</h2>

            {% for year_group in releases %}
                <div class="music-project-release-by_year"
                     id="{{ year_group.name }}">
                    <h3 class="music-project-release-year"
                        id="{{ year_group.name }}">{{ year_group.name }}</h3>
                    {%- for release in year_group.items -%}
                        {% include music-project-release-info.html release=release %}
                    {%- endfor -%}
                </div>
            {%- endfor -%}
        </div>
    {% endunless %}

    {%- assign misc_tracks = site.music_titles |
    where_exp: "item", "item.author == page.title and item.r_tag == nil" |
    sort: "date" -%}
    {%- assign misc_tracks.size = misc_tracks | size %}
    {% unless misc_tracks.size == 0 %}
        <div class="music-project-release-list">
            <h2>misc tracks</h2>

            {% for track in misc_tracks %}
                {% include music-project-release-info.html release=track %}
            {%- endfor %}
        </div>
    {% endunless %}
</div>
