---
layout: default
---

<!-- TODO: add physical release links-->
<!-- TODO: add sound for albums that aren't available on bandcamp -->
<!-- TODO: maybe add search by tag for music projects -->
<!-- TODO: add album art -->

<div class="music-project">

    <div class="music-project-titlebar">
        {% include title-with-backlink.html title=page.title backlink="/music/" %}
    </div>

    <div class="music-project-sidebar">
        <a href="/art/logos/{{ page.url | split: "/" | last }}-logo.png">
            <img id="logo"
                 src="/art/logos/thumbs/{{ page.url | split: "/" | last }}-logo_thumb.png"
                 alt="{{ page.title }} logo">
        </a>
        <p>{{ page.start_date | date_to_string }}&ndash;
            {%- if page.end_date -%}
                {{ page.end_date | date_to_string }}
            {%- else -%}
                &hellip;
            {%- endif -%}
            {%- if page.status -%}
                &ensp;({{ page.status }})
            {%- endif -%}
        </p>
        <p>tags: {{ page.tags | join: ", " }}</p>
    </div>

    <div class="music-project-info">

        {{ page.content | markdownify }}

    </div>

    {%- if page.title == "hälsorisk" %}
        {%- assign releases = site.music_releases |
        where_exp: "item", "item.r_tag contains 'HSR'" |
        group_by_exp: "item", "item.date | date: '%Y'" -%}
    {%- else %}
        {%- assign releases = site.music_releases |
        where: "author", page.title |
        group_by_exp: "item", "item.date | date: '%Y'" -%}
    {%- endif -%}
    {%- assign releases.size = releases | size %}
    {% unless releases.size == 0 %}
        {%- if page.title == "hälsorisk" %}
            {% include music-project-release-by-year.html title="releases" releases=releases print_author=true %}
        {% else %}
            {% include music-project-release-by-year.html title="releases" releases=releases %}
        {% endif %}
    {% endunless %}

    {%- assign misc_tracks = site.music_titles |
    where_exp: "item", "item.author == page.title and item.r_tag == nil" |
    group_by_exp: "item", "item.date | date: '%Y'" -%}
    {%- assign misc_tracks.size = misc_tracks | size %}
    {% unless misc_tracks.size == 0 %}
        {% include music-project-release-by-year.html title="misc tracks" releases=misc_tracks %}
    {% endunless %}
</div>
