---
layout: default
---

<div class="post-page">
    <div class="post-header">
        {% include title-with-backlink.html title=page.title backlink="/blog/" %}
        <div class="post-header-info">
            <p class="post-date">{{ page.date | date: "%F" }}</p>
            {% if page.tags.size > 0 %}
                <p>tags:</p>
                <ul>
                    {% for tag in page.tags %}
                        <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
            {% endif %}
                </ul>
        </div>
        <hr>
    </div>
    {{ content }}
</div>
